
body {
    background: #D5F2E9;

}
  
  title {
      text-align: centered;
  }

  h2 {
    font-family: 'fantasy', chalkduster;
    font-weight: 80;
    padding: 5 10px;
    color: #330033;
    background: DarkGrey;
    text-align: center;
    width:250px;
  
  }

  h3 {
    font-family: 'sans-serif', Gill Sans;
    font-weight: 60;
    padding: 2 5px;
    color: #006666;
    background: Silver;
    text-align:centered;
    padding-right: 3px;
    padding-left: 3px;
  }

  h4 {
    font-family: 'sans-serif', Trebuchet MS;
    font-weight: 60;
    color: Maroon;
    background: LightGrey;
  }

  p {
    font-family: 'sans-serif', Trebuchet MS;
    font-weight: 60;
    text-align: left;
  }

.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }
.item5 { grid-area: misc; }
.item6 { grid-area: bottomleft;}
.item7 { grid-area: bottomcenter;}
.item8 { grid-area: bottomright;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'left left right right'
    'footer footer misc misc'
    'bottomleft bottomleft bottomcenter bottomright bottomright';
  grid-gap: 30px;
  background-color: Silver;
  padding: 10px;
}

.grid-container > div {
  background-color:LightGrey;
 
  padding: 20px 15px;
  font-size: 15px;
}
